body{
    margin:0px;
    padding : 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 500px;
    
}


/* #5f9341 */
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-color:#5f9341 ;
}


button{
    margin-top: 4px;
    background: #5f9341;
    color: aliceblue;
    padding: 8px 19px;
    border: 1px solid #5f9341;
    font-weight: bold;

}

#del-btn{
    background: white;
    color: #5f9341;
}

ul{
    margin-top: 15px;
    list-style: none;
    padding-left: 0px;
}

li{
    margin-top: 4px;

}

li a{
    color: #5f9341;
}